NODE_ENV=development
PORT=3000

MONGO_URI=your_mongodb_atlas_connection_string

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

CLIENT_URL=http://localhost:5173

PAYSTACK_SECRET_KEY=your_paystack_test_secret_key
PAYSTACK_PUBLIC_KEY=your_paystack_test_public_key