PORT=3000
JWT_SECRET=
JWT_EXPIRES_IN=7d
NODE_ENV=development


MONGO_URI=
USE_LOCAL=false


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLIENT_URL=

PAYSTACK_SECRET_KEY=your_test_secret_key
PAYSTACK_PUBLIC_KEY=your_test_public_key